@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

body {
  padding: 0.5rem;
}

* {
  box-sizing: border-box;
}

.Container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: minmax(min-content, 200px) 1fr;
  gap: 0.5rem;
}

.hit {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.hit-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.hit-details {
  flex-grow: 1;
}

.hit-label {
  font-weight: bold;
  color: #333;
  display: block; /* Makes the label a block element */
}

.hit-code {
  color: #666;
}

.copy-button {
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  border-radius: 4px;
}
